.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.search-bar {
  max-width: 300px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  background-color: #FFD8BF; 
  color: #FA541C; 
  font-weight: 500;
}

.user-details {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.user-email {
  font-size: 12px;
  color: gray;
}

.logout-button {
  color: #FF383C; 
  padding: 0;
  border: none;
  background: none;
  font-size: 16px;
}

.logout-button:hover {
  color: #FF383C !important;
  opacity: 0.8;
}
